div {
    width: 80%;
    margin: 0 auto;
}

.itemlist {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

.itemlist td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #ccc;
}

/* Column widths */
.itemdescription {
    width: calc(100% - 70px);
}
.donebutton {
    width: 20px;
}
.delbutton {
    width: 20px;
}

.todoitemdone {
    background: #c0c0c0;
}
.todoitem:hover {
    font-size: 16px;
    background: #aaaaaa;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font: 16px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border: none;
}

td a {
    text-decoration: none;
    color: #000;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.inputbox input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}
.inputbox input[type="text"]:focus, .listitem input[type="text"].focus {
    border-bottom: solid 2px #969696;
}

.inputbox button {
    color: #fff;
    background-color: #8c8c8c;
    text-shadow: -1px 1px #909090;
    border: none;
    width: 40px;
    height: 40px;
}

.inputbox button:hover,
.inputbox button.hover {
    background-color: #444444;
    text-shadow: -1px 1px #27496d;
}

.inputbox button:active,
.inputbox button.active {
    background-color: #000000;
    text-shadow: -1px 1px #000000;
}
