{% extends "base.html" %}

{% block body %}
<script>
function Validate(){
    // checks if the task has a name (the only required field)
    var taskname = document.getElementById('taskname').value.trim();
    if (taskname == "") {
        document.getElementById('taskname').style.borderColor = "red";
        return false;
    }
}
</script>
<table class="itemlist">
    <tbody>
        {% for item in items %}
        {% if item.done %}
            <tr class="todoitem todoitemdone">
        {% elif due_today(item.datetime_due) %}
            <tr class="todoitem todoitemdue">
        {% else %}
            <tr class="todoitem">
        {% end %}
            <td class="itemname">{{ item.taskname}}</td>
            <td class="itemdescription ">{{ item.description }}</td>
            <td class-"datetime">{{ item.datetime_due }}</td>
            <td class="donebutton"><a href=/action/toggledone/{{ escape(item.idstr()) }}>{% if item.done %}&#9745;{% else %}&#9744;{% end %}</a></td>
            <td class="delbutton"><a href=/action/delete/{{ escape(item.idstr()) }}>&#9746;</a></td>
            {% end %}
        </tr>
    </tbody>
</table>
<form action="/new" method="post" onsubmit="return Validate();" onchange="return Validate();" class="inputbox">
    <input class="inputname" type="text" placeholder="New item name" id="taskname" name="taskname" autofocus />
    <input class="inputdesc" type="text" placeholder="New item description" name="description" />
    <input class="inputdatetime" type="text" placeholder="Due date/time" name="datetime" />
    <button type="submit" value="Add">&#43;</button>
</form>

{% end %}
