{% extends "base.html" %}

{% block body %}
<table class="itemlist">
    <tbody>
        {% for item in items %}
        <tr class="todoitem">
            {% if item.done %}
            <!--- this could probably be simplified -->
            <td class="itemname todoitemdone"><strike>{{ item.name }}</strike></td>
            <td class="itemdescription todoitemdone"><strike>{{ item.description }}</strike></td>
            {% else %}
            <td class="itemname">{{ item.name}}</td>
            <td class="itemdescription ">{{ item.description }}</td>
            {% end %}
            <td class="donebutton"><a href=/action/toggledone/{{ escape(item.idstr()) }}>{% if item.done %}&#9745;{% else %}&#9744;{% end %}</a></td>
            <td class="delbutton"><a href=/action/delete/{{ escape(item.idstr()) }}>&#9746;</a></td>
            {% end %}
        </tr>
    </tbody>
</table>
<form action="/new" method="post" class="inputbox">
    <input class="inputname" type="text" placeholder="New item name" name="itemname" autofocus />
    <input class="inputboxdesc" type="text" placeholder="New item description" name="description" />
    <button type="submit" value="Add">&#43;</button>
</form>
{% end %}
