{% extends "base.html" %}

{% block body %}
<table class="itemlist">
    <tbody>
        {% for item in items %}
        <tr class="todoitem">
            {% if item.done %}
            <td class="itemdescription todoitemdone"><strike>{{ item.description }}</strike></td>
            {% else %}
            <td class="itemdescription ">{{ item.description }}</td>
            {% end %}
            <td class="donebutton"><a href=/action/toggledone/{{ escape(item.idstr()) }}>{% if item.done %}&#9745;{% else %}&#9744;{% end %}</a></td>
            <td class="delbutton"><a href=/action/delete/{{ escape(item.idstr()) }}>&#9746;</a></td>
            {% end %}
        </tr>
    </tbody>
</table>
<form action="/new" method="post" class="inputbox clearfix">
    <input type="text" placeholder="Add new item" name="description" autofocus />
    <button type="submit" value="Add">&#43;</button>
</form>
{% end %}
